/*

Darko Bunic
http://www.redips.net/
May, 2010.

*/

center{
border: 3px solid LightBlue;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 10px;
}
body {
	font-family: arial;
	margin-top: 4px;
	margin-botom: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

h4 {
    margin-top:3px;
    margin-bottom" 3px;
}

/* main container */
#main_container {
	margin: auto;
	width: 700px;
}
	/* container for left and right div */
	#redips-drag {
		/* make it visible */
		border: 2px  dashed LightBlue;
		padding: 20px;
		display: table;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#redips-drag #mainTable{
		/* make it visible */
		border: 2px  dashed LightBlue;
		padding: 3px;
		margin-bottom: 15px;
		display: table;
		border-collapse: collapse;
		background-color: #eee;
	}
	
	#redips-drag #mainTable #redips-mark{
		/* make it visible */
		background-color: #aaa;
	}
	

		/* container for the left table */
		#main_container #left {
			margin-right: 10px;
			width: 328px;
			height: auto;
			/* align div to the right */
			float: right;
			padding-left: auto;
			padding-right: 0px;
			/* make it visible */
			border: 2px solid black;
			background-color: #eee;
		}
		/* container for the right table */
		#main_container #right {
			margin-left: 10px;
			margin-right: 10px;
			width: 328px;
			height: auto;
			/* align div to the right */
			float: right;
			padding-left: auto;
			padding-right: 0px;
			/* make it visible */
			border: 2px solid black;
			background-color: #eee;
		}

		/* make left and right DIV container scrollable */
		#main_container #left,#right {
			/*  http://www.howtocreate.co.uk/tutorials/javascript/browserspecific (Element position with scrolling offsets)
			make sure that every element with an overflow of anything other than "visible" also has a position
			style set to something other than the default "static". This way, they will all appear in the offsetParent
			chain, and can be easily subtracted in the same loop that adds the offsetLeft and offsetTop. */
			overflow: auto;
			position: relative;
		}


/* drag objects (DIV inside table cells) */
.redips-drag {
margin-top: 6px;
margin-bottom: 6px;
margin: auto;
text-align: center;
/*width: 120px;*/
opacity: 0.7;
/*height: 75px;*/
line-height: 17px;
font-size: 11pt;
border: 2px solid SteelBlue;
background-color: white;
padding: 3px;
border-radius: 4px;

}

/* tables */
div#redips-drag MainTable {
	background-color: #eee;
	border-collapse: collapse;
	/* center tables */
	margin: 0px auto;
}
		div#redips-drag #message {
			/* align table to the right */
			margin-left: left;
			height: 80px;
			width: 120px;
			background-color: #eee;
		}
		div#redips-drag #moveTable {
			/* align table to the right */
			margin: left;
			width: max-content;
		}
		div#redips-drag #errorTable {
			/* align table to the right */
			margin: left;
			width: max-content;
		}


/* table cells */
div#redips-drag table td,th {
	border-style: double;
	height: 80px;
	width: 100px;
	text-align: center;
	font-size: 10pt;
	white-space: pre-wrap;
}

		/* td */
div#redips-drag table td {
	border-width: 0px 2px 2px 0px;
	border: 2px solid SteelBlue;
	font-weight: normal;
}

/* th */
div#redips-drag table th {
	border-width: 3px 0px 0px 3px;
	border: 2px solid SteelBlue;
	font-weight: normal;
}

/* last row and last column without border */
.noborder {
	border-width: 0px;
}

/* green objects */
.green {
	border: 2px solid #499B33;
}

/* blank cells (upper left corner) */
.blank {
	background-color: white;
}

/* append here cloned object before placing to the target table cell */
#redips_clone {
	/* make redips_clone div visible */
	/* border: 1px solid red; */
	height: 10px;
	width: 100px;
}

/* message line */
#message {
	color: black;
	background-color: #aaa;
	text-align: center;
	/* top margin is made with unvisible redips_clone DIV */
	/* margin-top: 10px; */
}

/* dark cells (first column and table header) */
.dark {
	color: #444;
	background-color: #e0e0e0;
}


